<nav class="navbar">
    <div class="navbar-brand">
        <h2 class="logo">Gym Buddy</h2>
    </div>
      <div>  
          <a href="/survey" class="button">Retake Survey</a>
          <a href="/login" class="button">Log out</a>
    </div>
</nav>

<br>
{{#each matchesArray}}
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

        <div class="card text-center">
            <div class="card-header">
                <h2>My matches</h2>
            </div>
            <div class="card-body">
                <img class="card-img-top photo" src="{{photo}}" alt="Card image cap">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text"> Age: {{age}}</p>
                <button value="{{id}}" href="/profile/{{id}}" class="button profile-button">View Profile</button>
            </div>
            <div id="" class="card-footer text-muted">
                Matching score: {{compatibility}} / 10
            </div>
        </div>
<br>
      
    </div>
</div>
{{/each}}  


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/selectSingleMatch.js"></script>

