<nav class="navbar">
    <div class="navbar-brand">
        <h2 class="logo">Gym Buddy</h2>
    </div>
    <div>
        <a href="/login" class="button">Log out</a>
    </div>
</nav>

<br>
<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card text-center">
            <h2>{{dataValues.name}}</h2>
            <br>
            <img class="card-img-top photo" src="{{dataValues.photo}}" alt="UserPhoto">
            <h3>Please rate your experience</h3>
            <div id="reviewStars-input">
                <input id="star-4" type="radio" name="reviewStars" value="5" />
                <label title="excellent" for="star-4"></label>

                <input id="star-3" type="radio" name="reviewStars" value="4" />
                <label title="good" for="star-3"></label>

                <input id="star-2" type="radio" name="reviewStars" value="3" />
                <label title="regular" for="star-2"></label>

                <input id="star-1" type="radio" name="reviewStars" value="2" />
                <label title="poor" for="star-1"></label>

                <input id="star-0" type="radio" name="reviewStars" value="1" />
                <label title="bad" for="star-0"></label>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form>
                        <div class="form-group">
                            <label for="Textarea">Add Comment</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div><button id="add-review-button" value="{{dataValues.id}}" class="button">Add Review</button></div>
            <br>
            <br>

            <h3>Previous reviews</h3>

            <div class="row">

                <div class="col-sm-2"></div>
                
                <div class="col-sm-8" style="color: white;">
                    {{#each dataValues.Reviews}}
                    <div>{{dataValues.description}}</div>
                    <div>{{dataValues.rating}} / 5</div>
                    {{/each}}
                </div>
                
            </div>

        </div>
    </div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/addReview.js"></script>